<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head.ejs %>
</head>

<body class="landing-page sidebar-collapse">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="300">
    <% include partials/navbar-logged_in.ejs %>
</nav>
<!-- End Navbar -->
<div class="page-header page-header-xs" data-parallax="true" style="background-image: url('images/fabio-mangione.jpg');">
    <div class="filter"></div>
</div>
<div class="section profile-content">
    <div class="container">
        <div class="owner">
            <div class="avatar">
                <img src="images/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
            </div>
            <div class="name">
                <h4 class="title"><%= firstName %> <%= lastName %>
                    <br />
                </h4>
                <h6 class="description">Music Producer</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center">
                <h6 class="description">My Interest</h6>
                <p><%= interest %></p>
                <br />
                <btn class="btn btn-outline-default btn-round"><i class="fa fa-cog"></i> Edit</btn>
            </div>
        </div>
        <br/>
        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#follows" role="tab">Message</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#following" role="tab">Poke</a>
                    </li>
                </ul>
            </div>
        </div>
</div>
<footer class="footer   footer-white ">
    <% include partials/footer.ejs %>
</footer>
<% include partials/scr_script.ejs %>
</body>

</html>