<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head.ejs %>
</head>

<body class="register-page sidebar-collapse">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="300">
    <% include partials/navbar.ejs %>
</nav>
<!-- End Navbar -->
<div class="page-header" style="background-image: url('images/CoupleAtDinner4.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 ml-auto mr-auto">
                <div class="card card-register">
                    <h3 class="title mx-auto">Welcome</h3>
                    <div class="social-line text-center">
                        <a href="#pablo" class="btn btn-neutral btn-facebook btn-just-icon">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                        <a href="#pablo" class="btn btn-neutral btn-google btn-just-icon">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a href="#pablo" class="btn btn-neutral btn-twitter btn-just-icon">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </div>
                    <form action="register/submit" method="POST" class="register-form">
                        <label>First Name</label>
                        <input type="text" class="form-control" placeholder="First name" id="fName" name="fName">
                        <label>Last Name</label>
                        <input type="text" class="form-control" placeholder="Last name" id="lName"
                               name="lName">
                        <label>Email</label>
                        <input type="text" class="form-control" placeholder="Email" id="email" name="email">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="Password" id="password"
                               name="password">
                        <button type="submit" class="btn btn-danger btn-block btn-round">Register</button>
                    </form>
                    <div class="forgot">
                        <a href="login">Already a member? Sign-in</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer register-footer text-center">
        <% include partials/footer.ejs %>
    </div>
</div>
<% include partials/scr_script.ejs %>
</body>

</html>