<!-- views/partials/footer.ejs -->
<div class="container">
    <div class="row">
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="https://www.creative-tim.com" target="_blank">Home</a>
                </li>
                <li>
                    <a href="http://blog.creative-tim.com/" target="_blank">Help</a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/license" target="_blank">Contact us</a>
                </li>
            </ul>
        </nav>
        <div class="credits ml-auto">
          <span class="copyright">
            ©
            <script>
              document.write(new Date().getFullYear())
            </script> <i class="fa fa-heart heart"></i> Fresh Start Dating inc.
          </span>
        </div>
    </div>
</div>