<!-- views/partials/navbar-logged_in.ejs -->
<div class="container">
    <div class="navbar-translate">
        <a class="navbar-brand" href="/" rel="tooltip" title="Coded by Creative Tim" data-placement="bottom" target="_self">
            Fresh Start Dating
        </a>
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="profile" target="_self" class="nav-link"><i class="nc-icon nc-layout-11"></i> Profile</a>
            </li>
            <li class="nav-item">
                <a href="" target="_self" class="nav-link"><i class="nc-icon nc-book-bookmark"></i> Search</a>
            </li>
            <li class="nav-item">
                <a href="home" target="_self" class="nav-link"><i class="nc-icon nc-air-baloon"></i> Notifications</a>
            </li>
            <li class="nav-item">
                <a href="" target="_self" class="nav-link"><i class="nc-icon nc-settings-gear-65"></i> Settings</a>
            </li>
            <li class="nav-item">
                <a href="profile/logout" target="_self" class="nav-link"><i class="nc-icon nc-lock-circle-open"></i>
                    Logout</a>
            </li>
        </ul>
    </div>
</div>