<!-- views/partials/navbar.ejs -->
<div class="container">
    <div class="navbar-translate">
        <a class="navbar-brand" href="/" rel="tooltip" title="Coded by Creative Tim" data-placement="bottom" target="_self">
            Fresh Start Dating
        </a>
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="" target="_self" class="nav-link"><i class="nc-icon nc-layout-11"></i> Pricing</a>
            </li>
            <li class="nav-item">
                <a href="#info" target="_self" class="nav-link"><i class="nc-icon nc-book-bookmark"></i> Why Fresh Start?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank">
                    <i class="fa fa-twitter"></i>
                    <p class="d-lg-none">Twitter</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank">
                    <i class="fa fa-facebook-square"></i>
                    <p class="d-lg-none">Facebook</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank">
                    <i class="fa fa-instagram"></i>
                    <p class="d-lg-none">Instagram</p>
                </a>
            </li>
        </ul>
    </div>
</div>